* {
  font-family: "montserrat", sans-serif;
}

.--kzt-hidden-all {
    display: none;
}

.kzt-body {
  min-width: 360px;
  background-color: #f4f6f7;
}

.header {
  padding: 20px;
  text-align: center;
  background: #e41021;
  color: #ffffff;
}

.main-title {
  text-align: center;
  margin: 40px 0 40px 0;
  color: #707070;
  font-size: 19px;
}

.kzt-shell {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 10px 50px;
}

.kzt-shell--max-width-1024 {
  width: 100%;
  max-width: 1024px;
  gap: 30px;
  margin: 0;
}

.kzt-filters {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.kzt-filters-select-shell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.kzt-filters__box {
  background: #ffffff;
  box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 5px;
  height: 30px;
}

.kzt-filters__multi-codprod {
  width: 400px;
}

.kzt-filters__search-button {
  background: #e41021;
  box-shadow: 5px 5px 6px rgb(0 0 0 / 20%);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  height: 30px;
}

.kzt-box {
  display: flex;
  background: #ffffff;
  box-shadow: 5px 5px 25px rgb(0 0 0 / 70%);
  border-radius: 10px;
  min-height: 500px;
  padding: 10px;
}

.kzt-box.kzt-box--large {
  flex-grow: 5;
  max-width: 100%;
}

.kzt-box.kzt-box--medium {
  width: fit-content;
  max-width: 350px;
}

.kzt-box--medium .kzt-filters-select-shell {
  flex-flow: column;
  align-items: flex-start;
}

.kzt-box--medium .kzt-filters {
  flex-flow: column;
  align-items: unset;
}

@media (max-width: 1023px) {
  .kzt-filters {
    max-width: 100%;
    flex-wrap: wrap;
  }
}